<DockLayout stretchLastChild="true">
  <StackLayout verticalAlignment="center" class="labelLayout" dock="bottom">
    <Label [text]="item.name"
      class="label"
      [class.label-ios-phone-five]="deviceIsIOSPhoneFive()"
      [class.label-tablet]="!deviceIsPhone()"
    ></Label>
  </StackLayout>
  <StackLayout verticalAlignment="center" class="testContainer">
    <GridLayout columns="*, *" rows="auto, auto">
      <StackLayout
      class="testImagesLayout"
      *ngFor="let testItem of testItems; let i = index"
      [col]="getColumn(i)" [row]="i % 2"
      style="background-image:url('{{testItem.image}}');"
      (tap)="onSelected(testItem)">
        <Image [src]="iconSuccessImage" *ngIf="testItem.successful === true" class="icon"></Image>
        <Image [src]="iconErrorImage" *ngIf="testItem.successful === false" class="icon"></Image>
      </StackLayout>
    </GridLayout>
  </StackLayout>
</DockLayout>
