.container {
  background-color: #D7EEFF;
}

.headerLayout {
  height: 20%;
  background-image: url("~/assets/images/header.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.backIcon {
  color: white;
  font-family: "forvoInfo";
  width: 10%;
  font-size: 40;
  horizontal-align: left;
  margin-left: 9%;
}

.tablet .headerLayout Label {
  font-size: 30;
}

.tablet .headerLayout .backIcon-tablet {
  font-size: 50;
}

.label {
  color: white;
  font-family: "forvoInfo";
  font-size: 20;
  width: 70%;
  padding: 10%;
}

Image {
  width: 20%;
}

.back {
  horizontal-align: left;
  margin-left: 15%;
}

ScrollView {
  height: 90%;
  vertical-align: bottom;
}

.body {
  font-family: "forvoInfo";
  color: black;
  font-size: 16;
  margin: 0 25 15 25;
}

.body-tablet {
  font-size: 22;
  margin: 0 45 25 45;
}

.h1 {
  font-family: "forvoInfoBold";
  color: #21A2EC;
  font-size: 25;
  margin: 10 25 15 25;
}

.h1-tablet {
  font-size: 45;
  margin: 20 45 25 45;
}

.footerLayout {
  background-color: #73C4F2;
  border-width: 2;
  border-color: #21A2EC;
  border-radius: 10;
  width: 90%;
  padding: 15;
  margin-bottom: 15;
}

.footer {
  font-family: "forvoInfo";
  color: black;
  font-size: 16;
}

.footer-tablet {
  font-size: 22;
}

.footnote {
  font-family: "forvoInfo-Italic";
  color: black;
  margin: 10 0 10 0;
}

.footnote-tablet {
  margin: 20 0 20 0;
}
