<StackLayout
  class="container"
  [class.tablet]="!deviceIsPhone()"
  [class.container-iphone]="deviceIsIOS() && !deviceIsIPhoneX()"
  [class.container-iphonex]="deviceIsIPhoneX()"
  >
  <StackLayout orientation="horizontal" class="headerLayout" (tap)="goToHome()">
    <StackLayout orientation="horizontal" verticalAlignment="center">
      <Label text="<" class="backIcon" [class.backIcon-tablet]="!deviceIsPhone()"></Label>
      <Label [text]="getTranslation(translation_information)" class="label"></Label>
    </StackLayout>
  </StackLayout>
  <ScrollView>
    <StackLayout orientation="vertical" class="informationLayout">
      <Label
        class="h1"
        [class.h1-tablet]="!deviceIsPhone()"
        textWrap="true"
        [text]="getTranslation(translation_information_title)"
      ></Label>
      <Label
        class="text-left body"
        [class.body-tablet]="!deviceIsPhone() && !deviceIsIOSTablet1024()"
        [class.body-tablet-1024]="!deviceIsPhone() && deviceIsIOSTablet1024()"
        textWrap="true"
        [text]="getTranslation(translation_information_paragraph_1)"
      ></Label>
      <Label
        class="text-left body"
        [class.body-tablet]="!deviceIsPhone() && !deviceIsIOSTablet1024()"
        [class.body-tablet-1024]="!deviceIsPhone() && deviceIsIOSTablet1024()"
        textWrap="true"
        [text]="getTranslation(translation_information_paragraph_2)"
      ></Label>
      <Label
        class="text-left body"
        [class.body-tablet]="!deviceIsPhone() && !deviceIsIOSTablet1024()"
        [class.body-tablet-1024]="!deviceIsPhone() && deviceIsIOSTablet1024()"
        textWrap="true"
        [text]="getTranslation(translation_information_paragraph_3)"
      ></Label>
      <Label
        class="text-left body"
        [class.body-tablet]="!deviceIsPhone() && !deviceIsIOSTablet1024()"
        [class.body-tablet-1024]="!deviceIsPhone() && deviceIsIOSTablet1024()"
        textWrap="true"
        [text]="getTranslation(translation_information_paragraph_4)"
      ></Label>
      <Label
        class="text-left body"
        [class.body-tablet]="!deviceIsPhone() && !deviceIsIOSTablet1024()"
        [class.body-tablet-1024]="!deviceIsPhone() && deviceIsIOSTablet1024()"
        textWrap="true"
        [text]="getTranslation(translation_information_paragraph_5)"
      ></Label>
      <Label
        class="text-left body"
        [class.body-tablet]="!deviceIsPhone() && !deviceIsIOSTablet1024()"
        [class.body-tablet-1024]="!deviceIsPhone() && deviceIsIOSTablet1024()"
        textWrap="true"
        [text]="getTranslation(translation_information_paragraph_6)"
      ></Label>
      <StackLayout class="footerLayout">
        <Label
          class="text-left footer"
          [class.footer-tablet]="!deviceIsPhone() && !deviceIsIOSTablet1024()"
          [class.footer-tablet-1024]="!deviceIsPhone() && deviceIsIOSTablet1024()"
          textWrap="true"
          [text]="getTranslation(translation_information_footer)"
        ></Label>
        <Label
          class="text-left footnote"
          [class.footnote-tablet]="!deviceIsPhone()"
          textWrap="true"
          [text]="getTranslation(translation_information_address)"
        ></Label>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
