<StackLayout (tap)="routerExtensions.backToPreviousPage()" class="background" >
  <DockLayout class="middle" stretchLastChild="true">
    <StackLayout class="stars" dock="top">
      <app-game-result-stars [stars]="stars"></app-game-result-stars>
    </StackLayout>
    <StackLayout
      class="text"
      [class.text-phone]="deviceIsPhone()"
      [class.text-tablet]="!deviceIsPhone()"
      dock="bottom"
    >
      <Label *ngIf="stars === 1" [text]="getTranslation(translation_game_result_try_again)"></Label>
      <Label *ngIf="stars === 2" [text]="getTranslation(translation_game_result_well_done)"></Label>
      <Label *ngIf="stars === 3" [text]="getTranslation(translation_game_result_very_good)"></Label>
    </StackLayout>
    <StackLayout class="empty"></StackLayout>
  </DockLayout>
</StackLayout>
