.background {
  background-color: #D7EEFF;
  background-image: url("~/assets/images/game_result.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.middle {
  height: 100%;
  vertical-align: center;
}
.stars {
  horizontal-align: center;
  vertical-align: center;
  margin-top: 30%
}

.empty {
  vertical-align: center;
}

.text {
  text-align: center;
  margin-bottom: 15%;
}

.text-phone {
  font-size: 35%;
}

.text-tablet {
  font-size: 65%;
}
