<StackLayout
  orientation="horizontal"
  [row]="getRow(i)" [col]="i % 2"
  (tap)="next.emit()"
  class="layout"
>
  <StackLayout orientation="vertical" class="image-layout">
    <Image
      [src]="category.image"
      class="list-item-image"
    ></Image>
  </StackLayout>
  <StackLayout orientation="vertical" class="name-stars-layout">
    <Label
      [text]="category.name"
      class="list-item-label"
      [class.list-item-label-phone]="deviceIsPhone()"
      [class.list-item-label-tablet]="!deviceIsPhone()"
    ></Label>
    <app-category-item-stars [stars]="stars"></app-category-item-stars>
  </StackLayout>
</StackLayout>
