StackLayout {
  background-color: #D7EEFF;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.label {
  font-size: 35;
  text-align: center;
  horizontal-align: center;
}

.label-tablet {
  font-size: 50;
}
