StackLayout {
  background-color: #D7EEFF;
  height: 100%;
}

Image {
  height: 90%;
  margin-bottom: 1%;
}

.label {
  font-family: "forvoInfo";
  text-align: center;
  font-size: 20;
  border-width: 2;
  border-color: #73C4F2;
  border-radius: 10;
  width: 70%;
  background-color: white;
}

.label-tablet {
  font-size: 30;
}
