<StackLayout row="*, 70" (tap)="goToNext()">
  <Image [src]="item.image"></Image>
  <Label [text]="item.name"
    class="label"
    [class.label-ios-phone-five]="deviceIsIOSPhoneFive()"
    [class.label-tablet]="!deviceIsPhone()"
  ></Label>
</StackLayout>
