<StackLayout  class="container" [class.tablet]="!deviceService.deviceIsPhone()">
  <StackLayout orientation="horizontal" class="headerLayout" (tap)="goToHome()">
    <StackLayout orientation="horizontal" verticalAlignment="center">
      <Label text="<" class="backIcon" [class.backIcon-tablet]="!deviceService.deviceIsPhone()"></Label>
      <Label [text]="getTranslation(translation_parental_information)" class="label"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout orientation="vertical" class="listLayout" verticalAlignment="center">
    <Button
      [text]="getTranslation(translation_less_played_categories)" (tap)="goToLessPlayedCategories()"
      class="listLayout-button"
      [class.listLayout-button-ios-phone-five]="deviceIsIOSPhoneFive()"
    ></Button>
    <Button
      [text]="getTranslation(translation_most_failed_words)" (tap)="goToMostFailedWords()"
      class="listLayout-button"
      [class.listLayout-button-ios-phone-five]="deviceIsIOSPhoneFive()"
    ></Button>
    <Button
      [text]="getTranslation(translation_information)" (tap)="goToInfo()"
      class="listLayout-button"
      [class.listLayout-button-ios-phone-five]="deviceIsIOSPhoneFive()"
    ></Button>
  </StackLayout>
</StackLayout>
