.title {
  width: 48%;
}

.title-ios-phone-five {
  font-size: 14;
}

.stat-progress {
  width: 52%;
  padding: 10 5 10 0;
}

.progress-container {
  width: 65%;
  padding-right: 5rem;
}

.progress {
  min-width: 3;
  background-color: #25a2eb;
  margin-right: 5;
  border-radius: 2em;
}

Label {
  color: black;
  font-family: "forvoInfo";
}

.percentage Label {
  color: #25a2eb;
  text-align: center;
  width: 100%;
}


.percentage {
  width: 33%;
}

.tablet Label, .tablet Button {
  font-size: 30;
}
